//给项目提供scss全局变量
//左侧的菜单宽度
$base-menu-width: 260px;
//左侧菜单的背景颜色
$base-menu-bg: #001529;
$base-mene-min-width: 50px;
//顶部导航的高度
$base-tabbar-height: 50px;
//左侧菜单logo的高度
$base-menu-logo-height: 50px;
//左侧菜单logo右侧文字大小
$base-logo-title-fontSize: 20px;
